<br>
<div class="container">
<h1>Connexion JWT</h1><br><br>
  <form [formGroup]= "loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="form-group">
      <input type="email" class="form-control"  placeholder="Enter email"  formControlName="email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control"  placeholder="Password"  formControlName="pwd">
    </div><br>
    <div>
      <button class="btn btn-submit">Se connecter</button>
    </div>
  </form>
</div>
