div{
    text-align: center;
    h1{
        border-bottom: black solid 1px;;
    }
    span{
        text-decoration: underline;
    }
    button{
        background-color: rgb(143, 79, 79);
        color: white;
        width: 400px;
    }
}
